.task-input {
    background:none;
    border:none;
    color: #FFFFFF;
    width:100%;
    padding:10px 10px 10px 0;
    border-bottom: 2px solid $light-gray;
    margin-bottom: 1rem;
    font-size:24px;
    text-align:center;
}

@media (min-width: 780px) {
    .task-input {
        text-align: left;
    }
}



.time {
    text-align: right;
    position: relative;
    top:-220px;
    width: 215px;
    display:inline-block;
}


.timer-area {
    position:relative;
    height:215px;
    width:215px;
    margin:auto;
}




@media (min-width:780px) {

    .timer {
        direction:rtl;
    }

     .timer-area {
        width:30%;
        display:inline-block;
        vertical-align:middle;
        height: 215px;
        position:relative;
        direction:ltr;
        text-align:right
    }

    .task-area {
        width:70%;
        display:inline-block;
        vertical-align:middle;
        direction:ltr;
    }   
}

.background-image {
    height: 215px;
    width: 215px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size:contain;
}

.background__pomodoro {
    background-image: url('../img/tomato.png');
    position: relative;
    top: -11px;
}

.background__short-break {
    background-image: url('../img/coffee.png');
    position: relative;
    top: -17px;
    left: 15px;
}

.background__long-break {
    background-image: url('../img/badge.png');
    top: 74px;
}

.background__short-break .start-time {
    left: -15px;
    top: 86px;
}

.background__long-break .start-time {
    top: 69px;
}

.start-time {
    display: block;
    vertical-align: middle;
    text-align: center;
    color: #34353A;
    font-size: 50px;
    font-weight: 300;
    position: relative;
    top: 80px;
}

.pause-area {
    position: absolute;
    left: 15%;
    top: 52%;
    text-align: center;
    width: 150px;
}

.pause-text {
    color: #EE424E;
    font-weight: 300;
    position: relative;
    font-size: 18px;
    top: -33px;
}

.progress-notification {
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    line-height: 36px;
    margin: -14px auto 14px;
}

.progress-notification.pomodoro-progress {
    color: lighten($accent2, 20%);
}

.progress-notification.short-break-progress {
    color: lighten($accent1, 20%);
}

.progress-notification.long-break-progress {
    color: lighten($accent3, 20%);
}

// Fade Timer

.time {
    opacity: 0;
 }

 .background-image {
    opacity: 1;
 }

.fade-in {
    -webkit-animation: fade 0s;
    animation: fade 0s;
    opacity: 1;
 }

 .fade-out {
    -webkit-animation: fade-out 0s;
    animation: fade-out 0s;
    opacity: 0;
 }

 .fade-in2 {
    -webkit-animation: fade 1s;
    animation: fade 1s;
    opacity: 1;
 }

 .fade-out2 {
    -webkit-animation: fade-out 1s;
    animation: fade-out 1s;
    opacity: 0;
 }

/* -fail- */
@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

/* -fail- */
@-webkit-keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}



